<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.paad.PA4AD_Ch14_MyWidget"
  android:versionCode="1"
  android:versionName="1.0">

  <application android:icon="@drawable/icon" android:label="@string/app_name">

    <!-- Listing 14-32: Adding the Live Folder Activity to the manifest  -->
    <activity android:name=".MyLiveFolder"
              android:label="My Live Folder">
      <intent-filter>
        <action android:name="android.intent.action.CREATE_LIVE_FOLDER"/>
      </intent-filter>
    </activity>        

  </application>
</manifest>