<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.paad.earthquake">
  <application android:icon="@drawable/icon">
    <activity android:name=".Earthquake" android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".Preferences" android:label="Earthquake Preferences"/>
    <activity android:name=".EarthquakeMap" android:label="View Earthquakes"/>
    <provider android:name=".EarthquakeProvider" android:authorities="com.paad.provider.earthquake" />
    <service android:enabled="true" android:name=".EarthquakeService"></service>
    <receiver android:name=".EarthquakeAlarmReceiver">
      <intent-filter>
        <action android:name="com.paad.earthquake.ACTION_REFRESH_EARTHQUAKE_ALARM" />
      </intent-filter>
    </receiver>
    <uses-library android:name="com.google.android.maps"/>
  </application>
  <uses-permission android:name="android.permission.INTERNET"/>
</manifest>